.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-438.920000px;}
._2{margin-left:-424.080000px;}
._4{margin-left:-175.688000px;}
._0{width:28.000000px;}
._1{width:1090.984000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:32.000000px;}
.fs5{font-size:36.000000px;}
.fs1{font-size:40.000000px;}
.fs4{font-size:44.000000px;}
.fs2{font-size:48.000000px;}
.fs3{font-size:56.000000px;}
.y31{bottom:28.400000px;}
.y0{bottom:51.500000px;}
.y26{bottom:58.400000px;}
.y2e{bottom:59.550000px;}
.y2d{bottom:63.500000px;}
.y27{bottom:71.400000px;}
.y2c{bottom:80.050000px;}
.y2b{bottom:83.500000px;}
.y30{bottom:100.050000px;}
.y2f{bottom:103.500000px;}
.y21{bottom:120.050000px;}
.y28{bottom:123.500000px;}
.y29{bottom:140.050000px;}
.y2a{bottom:143.500000px;}
.y23{bottom:158.820000px;}
.y20{bottom:159.050000px;}
.y22{bottom:177.320000px;}
.y24{bottom:177.500000px;}
.y25{bottom:178.500000px;}
.y1f{bottom:178.550000px;}
.y1e{bottom:604.500000px;}
.y1d{bottom:605.450000px;}
.y1c{bottom:605.500000px;}
.y1b{bottom:606.500000px;}
.y19{bottom:618.950000px;}
.y17{bottom:624.180000px;}
.y18{bottom:629.420000px;}
.y1a{bottom:629.500000px;}
.y15{bottom:653.820000px;}
.yb{bottom:655.500000px;}
.y7{bottom:657.400000px;}
.y6{bottom:672.860000px;}
.y14{bottom:682.820000px;}
.y5{bottom:684.500000px;}
.y4{bottom:686.400000px;}
.y13{bottom:698.820000px;}
.y16{bottom:699.820000px;}
.y9{bottom:700.500000px;}
.ya{bottom:701.500000px;}
.y2{bottom:702.400000px;}
.y8{bottom:703.400000px;}
.y12{bottom:715.820000px;}
.y3{bottom:717.500000px;}
.y1{bottom:719.400000px;}
.yf{bottom:748.700000px;}
.y11{bottom:765.400000px;}
.ye{bottom:772.950000px;}
.y10{bottom:785.400000px;}
.yd{bottom:798.700000px;}
.yc{bottom:801.600000px;}
.h2{height:33.265625px;}
.h7{height:37.423828px;}
.h3{height:41.582031px;}
.h6{height:45.740234px;}
.h4{height:49.898438px;}
.h5{height:58.214844px;}
.h1{height:768.000000px;}
.h0{height:842.000000px;}
.w1{width:553.000000px;}
.w0{width:595.000000px;}
.x0{left:20.000000px;}
.x19{left:25.000000px;}
.x1{left:29.000000px;}
.x15{left:36.500000px;}
.xd{left:50.750000px;}
.x18{left:54.000000px;}
.xb{left:100.000000px;}
.x2{left:107.000000px;}
.x14{left:110.000000px;}
.x5{left:165.320000px;}
.xa{left:172.680000px;}
.x10{left:177.750000px;}
.x9{left:181.090000px;}
.x3{left:319.000000px;}
.x16{left:321.390000px;}
.x11{left:322.730000px;}
.x7{left:376.120000px;}
.x6{left:385.000000px;}
.x8{left:417.190000px;}
.xf{left:429.000000px;}
.xe{left:433.250000px;}
.xc{left:437.000000px;}
.x4{left:444.000000px;}
.x12{left:507.500000px;}
.x1a{left:520.000000px;}
.x13{left:538.980000px;}
.x17{left:543.540000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-585.226667pt;}
._2{margin-left:-565.440000pt;}
._4{margin-left:-234.250667pt;}
._0{width:37.333333pt;}
._1{width:1454.645333pt;}
.fs0{font-size:42.666667pt;}
.fs5{font-size:48.000000pt;}
.fs1{font-size:53.333333pt;}
.fs4{font-size:58.666667pt;}
.fs2{font-size:64.000000pt;}
.fs3{font-size:74.666667pt;}
.y31{bottom:37.866667pt;}
.y0{bottom:68.666667pt;}
.y26{bottom:77.866667pt;}
.y2e{bottom:79.400000pt;}
.y2d{bottom:84.666667pt;}
.y27{bottom:95.200000pt;}
.y2c{bottom:106.733333pt;}
.y2b{bottom:111.333333pt;}
.y30{bottom:133.400000pt;}
.y2f{bottom:138.000000pt;}
.y21{bottom:160.066667pt;}
.y28{bottom:164.666667pt;}
.y29{bottom:186.733333pt;}
.y2a{bottom:191.333333pt;}
.y23{bottom:211.760000pt;}
.y20{bottom:212.066667pt;}
.y22{bottom:236.426667pt;}
.y24{bottom:236.666667pt;}
.y25{bottom:238.000000pt;}
.y1f{bottom:238.066667pt;}
.y1e{bottom:806.000000pt;}
.y1d{bottom:807.266667pt;}
.y1c{bottom:807.333333pt;}
.y1b{bottom:808.666667pt;}
.y19{bottom:825.266667pt;}
.y17{bottom:832.240000pt;}
.y18{bottom:839.226667pt;}
.y1a{bottom:839.333333pt;}
.y15{bottom:871.760000pt;}
.yb{bottom:874.000000pt;}
.y7{bottom:876.533333pt;}
.y6{bottom:897.146667pt;}
.y14{bottom:910.426667pt;}
.y5{bottom:912.666667pt;}
.y4{bottom:915.200000pt;}
.y13{bottom:931.760000pt;}
.y16{bottom:933.093333pt;}
.y9{bottom:934.000000pt;}
.ya{bottom:935.333333pt;}
.y2{bottom:936.533333pt;}
.y8{bottom:937.866667pt;}
.y12{bottom:954.426667pt;}
.y3{bottom:956.666667pt;}
.y1{bottom:959.200000pt;}
.yf{bottom:998.266667pt;}
.y11{bottom:1020.533333pt;}
.ye{bottom:1030.600000pt;}
.y10{bottom:1047.200000pt;}
.yd{bottom:1064.933333pt;}
.yc{bottom:1068.800000pt;}
.h2{height:44.354167pt;}
.h7{height:49.898438pt;}
.h3{height:55.442708pt;}
.h6{height:60.986979pt;}
.h4{height:66.531250pt;}
.h5{height:77.619792pt;}
.h1{height:1024.000000pt;}
.h0{height:1122.666667pt;}
.w1{width:737.333333pt;}
.w0{width:793.333333pt;}
.x0{left:26.666667pt;}
.x19{left:33.333333pt;}
.x1{left:38.666667pt;}
.x15{left:48.666667pt;}
.xd{left:67.666667pt;}
.x18{left:72.000000pt;}
.xb{left:133.333333pt;}
.x2{left:142.666667pt;}
.x14{left:146.666667pt;}
.x5{left:220.426667pt;}
.xa{left:230.240000pt;}
.x10{left:237.000000pt;}
.x9{left:241.453333pt;}
.x3{left:425.333333pt;}
.x16{left:428.520000pt;}
.x11{left:430.306667pt;}
.x7{left:501.493333pt;}
.x6{left:513.333333pt;}
.x8{left:556.253333pt;}
.xf{left:572.000000pt;}
.xe{left:577.666667pt;}
.xc{left:582.666667pt;}
.x4{left:592.000000pt;}
.x12{left:676.666667pt;}
.x1a{left:693.333333pt;}
.x13{left:718.640000pt;}
.x17{left:724.720000pt;}
}
